<!-- src/app/navbar/navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark ymca-navbar">
    <div class="container-fluid">
      <img src="assets/ymca.jpg" alt="Logo YMCA" class="img-fluid" style="max-height: 50px;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/encuesta">Encuesta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/administrar-encuestas">Administras encuestas</a>
          </li>
          <li class="nav-item dropdown">
            <a 
              class="nav-link dropdown-toggle" 
              href="#" 
              id="graficaDropdown" 
              role="button" 
              data-bs-toggle="dropdown" 
              aria-expanded="false"
            >
              Dashboard gráficas
            </a>
            <ul class="dropdown-menu" aria-labelledby="graficaDropdown">
              <li>
                <a class="dropdown-item" routerLink="/graficas/linear">
                  Gráfica lineal
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/graficas/columnas">
                  Gráfica columnas agrupadas
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/graficas/areas-apiladas">
                  Gráfica áreas apiladas
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/graficas/calor">
                  Mapa de calor
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  