<div class="container my-4">
    <!-- Fila de filtros, centrada -->
    <h5 class="text-center m-4">Buscar estudiante</h5>
  
    <div class="row justify-content-center mb-3">
      <div class="col-5">
        <input
          id="documentNumber"
          type="text"
          class="form-control form-control-sm"
          placeholder="Ingresa el número del documento"
          [(ngModel)]="documentNumber"
          style="min-width: 150px;"
        />
      </div>
  
    </div>
  
  
    <!-- Fila de botones, también centrada -->
    <div class="row justify-content-center mt-4">
      <div class="col-auto d-flex gap-2">
        <button
          class="btn btn-primary btn-sm"
          (click)="applyFilter()"
        >
          Buscar
        </button>
      </div>
    </div>
</div>


<div class="container mt-5">
    <div  
    echarts
    [options]="chartOption"
    class="demo-chart"
    style="height: 400px; width: 100%;">
    
    </div>
</div>

